body {
  border: 3px solid black;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.cities {
  font-weight: lighter;
  font-size: 24px;
  padding: 30px auto;
  word-spacing: 40px;
  display: block;
}

p {
  padding: 20px auto;
  margin: 20px auto;
}

#city:first-letter {
  text-transform: capitalize;
}

#description:first-letter {
  text-transform: capitalize;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
